{% extends "base.html" %}

{% block content %}

<form action="/signup" method ="POST" name = "user_signup">
     <table>
                <tr>
                    <td><label for="username">Username</label></td>
                    <td>
                        <input name="username" type="text" value="{{user}}">
                        {% if error1 %}
                        <span class ="error">{{ error1 }} </span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td><label for="password">Password</label></td>
                    <td>
                        <input name="password" type="password">
                        {% if error2 %}
                        <span class="error">{{ error2 }}</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td><label for="verify">Verify Password</label></td>
                    <td>
                        <input name="verify" type="password">
                        {% if error3 %}
                        <span class="error">{{ error3 }}</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td><label for="email">Email (optional)</label></td>
                    <td>
                        <input name="email" type="text" value="{{ email }}">
                        {% if error4 %}
                        <span class="error">{{ error4 }}</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type ="submit" name="submit">
                    </td>
                </tr>
            </table>

</form>

{% endblock %}